
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
    background: #ffffff;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #b8e9a5;
    padding: 15px 80px;
    border-bottom: 8px solid white;
}

.navbar-space {
    height: 40px;
    background: white;
}

header .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    color: #ffffff;
    font-size: 20px;
}

header nav a {
    margin: 0 35px;
    font-weight: 600;
    color: #ffffff;
}

header .btn-login {
    background: white;
    padding: 12px 17px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    font-weight: bold;
    color: #A8D9FF;
}


.page {
    max-width: 1100px;
    margin: 0 auto 60px;
    padding: 30px 30px 60px;
}


.info-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin-top: 30px;
}

.info-text h1 {
    font-size: 44px;
    color: #c7e8b3;
    font-weight: 800;
    margin-bottom: 40px;
}

.info-text p {
    font-size: 18px;
    color: #c7e8b3;
    font-weight: 600;
    margin-bottom: 26px;
}

.info-text .label {
    font-weight: 700;
}


.info-illustration img {
    max-width: 260px;
    height: auto;
}


.cta-wrapper {
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.btn-cta {
    width: 70%;
    max-width: 600px;
    padding: 14px 20px;
    border-radius: 18px;
    border: none;
    background: #c7e8b3;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
}


@media (max-width: 768px) {
    .navbar-inner {
        flex-direction: column;
        gap: 8px;
    }

    .page {
        padding: 20px 16px 40px;
    }

    .info-wrapper {
        flex-direction: column;
        align-items: flex-start;
    }

    .info-illustration {
        align-self: center;
    }

    .btn-cta {
        width: 100%;
    }
}
